{% load static %} {% block content %}
<head>
  <title>Chattin' {{connections.0}}</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'website/css/chat.css' %}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'website/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'website/fonts/iconic/css/material-design-iconic-font.min.css' %}"
  />
  <link
    rel="icon"
    type="image/jpg"
    href="{% static 'website\images\video-chat 24.png' %}"
  />

  <link rel="stylesheet" href="{% static 'website/css/w3.css' %}" />

  <!--BootStrap-->

  <!-- CSS only -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous"
  />
  <!-- JavaScript Bundle with Popper -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"
  ></script>
</head>
<body
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
      url('{% static 'website/images/bg-01.jpg' %}');
  "
>
  {% if messages %} {% for message in messages %}
  <div
    class="alert alert-warning alert-dismissible fade show"
    role="alert"
    style="margin: 0; margin-left: 20px; margin-right: 20px; margin-top: 15px"
  >
    <strong>{{ message }}</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %} {% endif %}
  <div id="container">
    <aside>
      <header>
        <div class="profile">
          <div class="profile-data">
            <img
              class="profile-photo"
              src="{{ request.session.profile_photo }}"
            />
            <div class="profile-name">{{ request.session.name }}</div>
          </div>
          <div class="profile-img">
            <img src="{% static 'website\images\search.png' %}" />
            <div class="w3-container">
              <div class="w3-dropdown-hover">
                <button class="w3-button">
                  <img src="{% static 'website\images\three-dots-ico.png' %}" />
                </button>
                <div
                  class="w3-dropdown-content w3-bar-block w3-border"
                  style="border-radius: 5px"
                >
                  <form
                    action="{% url 'profile' %}"
                    method="POST"
                    style="margin: 0"
                  >
                    <input
                      type="hidden"
                      value="{{ request.session.name }}"
                      name="name"
                    />
                    <input
                      type="hidden"
                      value="{{ request.session.profile_photo }}"
                      name="photo"
                    />
                    <button class="w3-bar-item w3-button">Profile</button>
                  </form>
                  <a href="{% url 'logout' %}" class="w3-bar-item w3-button"
                    >Logout</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <ul id="people">
        {% for connection in connections %}
        <input type="hidden" value="forloop.counter0" />
        <li class="person" id="{{ forloop.counter0 }}">
          <img src="{{ connection.profile_photo }}" alt="" />
          <div>
            <h2>{{ connection.name }}</h2>
          </div>
        </li>
        {% endfor %} {% comment %} {% for connection in connections %}
        <input type="hidden" value="forloop.counter0" />
        <li class="person" id="{{ forloop.counter0 }}">
          <img src="{{ connection.profile_photo }}" alt="" />
          <div>
            <h2>{{ connection.name }}</h2>
          </div>
        </li>
        {% endfor %} {% endcomment %}
      </ul>
      <div class="add-ico">
        <div id="myDropdown" class="dropdown-content">
          <input
            type="text"
            placeholder="Search.."
            id="myInput"
            onkeyup="filterFunction()"
            style="background: #7b448d"
          />
        </div>
        <button onclick="myFunction()" class="dropbtn">
          <img
            src="{% static 'website\images\add-ico.png' %}"
            width="64"
            height="64"
          />
        </button>
      </div>
    </aside>
    <main>
      <header>
        <img
          class="prof-photo"
          src="{{ connections.0.profile_photo }}"
          alt=""
        />
        <div>
          <h2 class="con-name">{{connections.0.name}}</h2>
        </div>

        <div class="w3-container" style="float: right">
          <div class="w3-dropdown-hover">
            <button class="w3-button">
              <img
                src="{% static 'website\images\three-dots-ico.png' %}"
                height="32px"
                width="32px"
                style="float: right; margin-top: 5px"
              />
            </button>
            <div
              class="w3-dropdown-content w3-bar-block w3-border"
              style="border-radius: 5px; right: 0"
            >
              <form
                action="{% url 'profile' %}"
                method="POST"
                style="margin: 0"
              >
                <input
                  type="hidden"
                  value="{{ connections.0.name }}"
                  name="name"
                  class="name"
                />
                <input
                  type="hidden"
                  value="{{ connections.0.profile_photo }}"
                  class="photo"
                  name="photo"
                />
                <button class="w3-bar-item w3-button">Profile</button>
              </form>
            </div>
          </div>
        </div>

        {% comment %}
        <img
          src="{% static 'website\images\three-dots-ico.png' %}"
          height="32px"
          width="32px"
          style="float: right; margin-top: 5px"
        />
        {% endcomment %}
        <form
          action="{% url 'video' %}"
          method="POST"
          style="margin: 0; float: right"
        >
          <input
            type="hidden"
            value="{{ connections.0.name }}"
            name="name"
            class="name"
          />
          <input
            type="hidden"
            value="{{ connections.0.profile_photo }}"
            class="photo"
            name="photo"
          />
          <button style="border: 0">
            <img
              src="{% static 'website\images\video-ico.png' %}"
              width="36px"
              height="20px"
              style="
                margin-top: 12px;
                float: right;
                right: 80px;
                margin-right: 25px;
              "
            />
          </button>
        </form>
        {% comment %}
        <img src="{% static 'website\images\ico_star.png' %}" alt="" />
        {% endcomment %}
      </header>
      {% comment %}
      <ul
        id="chat"
        style="
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
        "
      >
        {% if not connections.0.is_started %}
        <img src="{% static  'website/images/waving-hi.gif'%}" />
        <p>Say Hi to start conversation with</p>
        <img class="prof-photo" src="{{connections.0.profile_photo}}" alt="" />
        <p class="con-name">{{ connections.0.name }}</p>
        {% endif %}
      </ul>
      {% endcomment %}

      <div class="chat">
        <div class="receive">{% lorem 1 b random %}</div>
        <div class="send">{% lorem 1 b random %}</div>
      </div>

      <div class="border">
        <footer>
          <textarea placeholder="Type your message"></textarea>
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png"
            alt=""
          />
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png"
            alt=""
          />
          <a href="#">Send</a>
        </footer>
      </div>
    </main>
  </div>
  {% if iterator in list %} {{ iterator }} {% endif %}
</body>
{% endblock %}

<script type="text/javascript" src="{% static 'jquery.js' %}"></script>
<script>
  $(".send").click(function () {});
  $(".prof-photo").css("border-radius", "50%");
  $(".person").click(function (event) {
    var abc = $(this).text();
    $(".con-name").html(abc);
    var src = $(this).find("img").attr("src");
    $(".prof-photo").attr("src", src);
    $("title").html("Chattin'" + abc);
    $(".name").val(abc);
    $(".photo").val(src);
  });
  /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
</script>

{% comment %} Comments console.log({{ forloop.counter0 }}); - get counter of
forloop in djaongo Change URL in browser using AJAX

<a href="{% 'url' %}"></a>

/* $.ajax({ url: $(this).attr("id") + "/", success: function (result) {
console.log("done, result=%s", result); }, });*/ //console.log("recognize/" +
$(this).attr("id")); Change src attribute of img //console.log(src);
//console.log($('#chat:nth-child(3)').attr('src')); {% endcomment %} {%comment%}
https://www.w3schools.com/howto/howto_js_filter_dropdown.asp#:~:text=Example%20Explained,dropdown%20menu%20correctly%20with%20CSS.
search drop down {% endcomment %}
