{% load static %} {% block content %}
<head>
  <title>Chattin' {{connections.0}}</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'website/css/chat.css' %}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'website/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'website/fonts/iconic/css/material-design-iconic-font.min.css' %}"
  />
  <link
    rel="icon"
    type="image/jpg"
    href="{% static 'website\images\video-chat 24.png' %}"
  />
</head>
<body
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
      url('{% static 'website/images/bg-01.jpg' %}');
  "
>
  <div id="container">
    <aside>
      <header>
        <input type="text" placeholder="Search" />
      </header>
      <ul id="people">
        {% for name, photo in people %}
        <input type="hidden" value="forloop.counter0" />
        <li class="person" id="{{ forloop.counter0 }}">
          <img src="{{photo}}" alt="" />
          <div>
            <h2>{{ name }}</h2>
          </div>
        </li>
        {% endfor %}
      </ul>
    </aside>
    <main>
      <header>
        <img class="prof-photo" src="{{ profile_photo.0 }}" alt="" />
        <div>
          <h2 class="con-name">{{connections.0}}</h2>
        </div>
        <img src="{% static 'website\images\ico_star.png' %}" alt="" />
      </header>
      <ul
        id="chat"
        style="
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
        "
      >
        {% if not is_started.0 %}
        <img src="{% static  'website/images/waving-hi.gif'%}" />
        <p>Say Hi to start conversation with</p>
        <img class="prof-photo" src="{{profile_photo.0}}" alt="" />
        <p class="con-name">{{ connections.0 }}</p>
        {% endif %}
      </ul>
      <div class="border">
        <footer>
          <textarea placeholder="Type your message"></textarea>
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png"
            alt=""
          />
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png"
            alt=""
          />
          <a href="#">Send</a>
        </footer>
      </div>
    </main>
  </div>
</body>
{% endblock %}

<script type="text/javascript" src="{% static 'jquery.js' %}"></script>
<script>
  $(".prof-photo").css("border-radius", "50%");
  $(".person").click(function (event) {
    var abc = $(this).text();
    $(".con-name").html(abc);
    var src = $(this).find("img").attr("src");
    $(".prof-photo").attr("src", src);
    $("title").html("Chattin'" + abc);
  });
</script>

{% comment %} Comments console.log({{ forloop.counter0 }}); - get counter of
forloop in djaongo Change URL in browser using AJAX

<a href="{% 'url' %}"></a>

/* $.ajax({ url: $(this).attr("id") + "/", success: function (result) {
console.log("done, result=%s", result); }, });*/ //console.log("recognize/" +
$(this).attr("id")); Change src attribute of img //console.log(src);
//console.log($('#chat:nth-child(3)').attr('src')); {% endcomment %}
