{% load static %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'website/css/chat.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'website/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'website/fonts/iconic/css/material-design-iconic-font.min.css' %}"
/>
<body style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url('{% static 'website/images/bg-01.jpg' %}')">
  <div id="container">
    <aside>
      <header>
        <input type="text" placeholder="Search" />
      </header>
      <ul id="people">
        {% for name, photo in people %}
        {% comment %} <a href="{% 'url' %}"> {% endcomment %}
          <input type="hidden" value="forloop.counter0">
        <li class="person" id="{{ forloop.counter0 }}">
          <img src="{{photo}}" alt="" />
          <div>
            <h2>{{ name }}</h2>
          </div>
        </li>
        {% endfor %}
      </ul>
    </aside>
    <main>
      <header>
        <img
          src=""
          alt=""
        />
        <div>
          <h2 class="con-name">{{connections.0}}</h2>
        </div>
        <img
          src="{% static 'website\images\ico_star.png' %}"
          alt=""
        />
      </header>
      <ul id="chat" style="display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">
        {% if not is_started.0 %}
        <img src="{% static  'website/images/waving-hi.gif'%}">
        <p>Say Hi to start conversation with</p>
        {% comment %} <img
          src="{% static {{profile_photo.0}} %}"
          alt=""
        />  {% endcomment %}
        <p class="con-name">{{ connections.0 }}</p>

        {% endif %}
      </ul>
      <div class="border">
        <footer>
          <textarea placeholder="Type your message"></textarea>
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png"
            alt=""
          />
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png"
            alt=""
          />
          <a href="#">Send</a>
        </footer>
      </div>
    </main>
  </div>
</body>
    {% endblock %}

<script type="text/javascript" src="{% static 'jquery.js' %}"></script>
<script>
  //console.log({{ forloop.counter0 }});
  $(".person").click(function (event) {
   /* $.ajax({
      url: $(this).attr("id") + "/",
      success: function (result) {
        console.log("done, result=%s", result);
      },
    });*/
    //console.log("recognize/" + $(this).attr("id"));
    var abc = $(this).text();
    console.log(abc);
    $('.con-name').html(abc);

  });
</script>