{% extends 'base-login.html' %} {% load static %} {% block content %}
<head>
  <title>Signup</title>
</head>
<div class="limiter">
  <div
    class="container-login100"
    style="background-image: url('{% static 'website/images/bg-01.jpg' %}')"
  >
    {% if messages %} {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <div class="web-logo">
        <img src="{% static '/website/images/video-chat 128.png' %}" />
      </div>
      <form
        class="login100-form validate-form"
        method="POST"
        action="{% url 'signup' %}"
      >
        {% comment %} {% csrf_token %} {% endcomment %}
        <span class="login100-form-title p-b-49"> Signup </span>

        <div
          class="wrap-input100 validate-input m-b-23"
          data-validate="Username is required"
        >
          <span class="label-input100">Username</span>
          <input
            class="input100"
            type="text"
            name="name"
            placeholder="Type your username"
          />
          <span class="focus-input100" data-symbol="&#xf206;"></span>
        </div>

        {% comment %}
        <div
          class="wrap-input100 validate-input m-b-23"
          data-validate="Profile Photo is required"
        >
          <span class="label-input100">Profile Photo</span>
          <input
            class="input100"
            type="text"
            name="profile_photo"
            placeholder="Enter your ptofile photo"
            value="{{ profile_photo }}"
          />
          <span class="focus-input100" data-symbol="&#xf206;"></span>
        </div>
        {% endcomment %}

        <div
          class="wrap-input100 validate-input m-b-23"
          data-validate="Password is required"
        >
          <span class="label-input100">Password</span>
          <input
            class="input100"
            type="password"
            name="password1"
            placeholder="Type your password"
          />
          <span class="focus-input100" data-symbol="&#xf190;"></span>
        </div>

        <div
          class="wrap-input100 validate-input"
          data-validate="Password is required"
        >
          <span class="label-input100">Enter Password again</span>
          <input
            class="input100"
            type="password"
            name="password2"
            placeholder="Type your password"
          />
          <span class="focus-input100" data-symbol="&#xf190;"></span>
        </div>

        {% comment %}
        <div class="text-right p-t-8 p-b-31">
          <a href="#"> Forgot password? </a>
        </div>
        {% endcomment %}

        <div class="container-login100-form-btn" style="margin-top: 30px">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <a href="chat.html"
              ><button class="login100-form-btn">Signup</button></a
            >
          </div>
        </div>

        <div class="txt1 text-center p-t-54 p-b-20">
          <span> Or Signup Using </span>
        </div>

        <div class="flex-c-m">
          {% comment %}
          <a href="#" class="login100-social-item bg1">
            <i class="fa fa-facebook"></i>
          </a>

          <a href="#" class="login100-social-item bg2">
            <i class="fa fa-twitter"></i>
          </a>
          {% endcomment %}

          <a href="#" class="login100-social-item bg3">
            <i class="fa fa-google"></i>
          </a>
        </div>

        <div class="flex-col-c p-t-50">
          <span class="txt1 p-b-17"> Or Login Using </span>

          <a href="{% url 'signup' %}" class="txt2"> Username </a>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>

{% endblock %}
