{% load static %} {% block content %}
<head>
  <title>Chattin' {{connections.0}}</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'website/css/video.css' %}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'website/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'website/fonts/iconic/css/material-design-iconic-font.min.css' %}"
  />
  <link
    rel="icon"
    type="image/jpg"
    href="{% static 'website\images\video-chat 24.png' %}"
  />
</head>
<body
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
      url('{% static 'website/images/bg-01.jpg' %}');
  "
>
  <div id="container">
    <aside>
      <header>
        <input type="text" placeholder="Search" />
      </header>
      <ul id="people">
        {% for connection in connections %}
        <li class="person" id="{{ forloop.counter0 }}">
          <img src="{{ connection.profile_photo }}" alt="" />
          <div>
            <h2>{{ connection.name }}</h2>
          </div>
        </li>
        {% endfor %} {% for connection in connections %}
        <input type="hidden" value="forloop.counter0" />
        <li class="person" id="{{ forloop.counter0 }}">
          <img src="{{ connection.profile_photo }}" alt="" />
          <div>
            <h2>{{ connection.name }}</h2>
          </div>
        </li>
        {% endfor %}
      </ul>
      <div class="add-ico">
        <img
          src="{% static 'website\images\add-ico.png' %}"
          width="64"
          height="64"
        />
      </div>
    </aside>
    <main>
      <header>
        <img
          class="prof-photo"
          src="{{ connections.0.profile_photo }}"
          alt=""
        />
        <div>
          <h2 class="con-name">{{connections.0.name}}</h2>
        </div>

        <img
          src="{% static 'website\images\three-dots-ico.png' %}"
          height="32px"
          width="32px"
          style="float: right; margin-top: 5px"
        />
        <img
          src="{% static 'website\images\video-ico.png' %}"
          width="36px"
          height="20px"
          style="
            margin-top: 12px;
            float: right;
            right: 80px;
            margin-right: 25px;
          "
        />
        {% comment %}
        <img src="{% static 'website\images\ico_star.png' %}" alt="" />
        {% endcomment %}
      </header>
      <div class="video-chat" style="display: flex">
        <ul
          id="chat"
          style="
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
          "
        >
          {% if not connections.0.is_started %}
          <img src="{% static  'website/images/waving-hi.gif'%}" />
          <p>Say Hi to start conversation with</p>
          <img
            class="prof-photo"
            src="{{connections.0.profile_photo}}"
            alt=""
          />
          <p class="con-name">{{ connections.0.name }}</p>
          {% endif %}
        </ul>
        <div
          class="video"
          width="50%"
          height="100%"
          style="background-color: black"
        >
          <img
            class="prof-photo"
            src="{{connections.0.profile_photo}}"
            alt=""
            height="128px"
            width="128px"
            style="margin-left: 40%; margin-top: 40%"
          />
          <div class="call-icons">
            <span class="microphone">
              <img
                src="{% static 'website\images\microphone.png' %}"
                width="64"
                height="64"
                class="unmute"
              />
              <img
                src="{% static 'website\images\mute.png' %}"
                width="64"
                height="64"
                class="mute"
              />
            </span>
            <img
              src="{% static 'website\images\turn-video-off-button.png' %}"
              width="64"
              height="64"
            />
            <img
              src="{% static 'website\images\phone-call-end.png' %}"
              width="64"
              height="64"
            />
          </div>
        </div>
      </div>
      <div class="border">
        <footer>
          <textarea placeholder="Type your message"></textarea>
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png"
            alt=""
          />
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png"
            alt=""
          />
          <a href="#">Send</a>
        </footer>
      </div>
    </main>
  </div>
  {% if iterator in list %} {{ iterator }} {% endif %}
</body>
{% endblock %}

<script type="text/javascript" src="{% static 'jquery.js' %}"></script>
<script>
  $(".mute").hide();
    $(".prof-photo").css("border-radius", "50%");
    $(".person").click(function (event) {
      var abc = $(this).text();
      $(".con-name").html(abc);
      var src = $(this).find("img").attr("src");
      $(".prof-photo").attr("src", src);
      $("title").html("Chattin'" + abc);
    });
  {% comment %} var shown {% endcomment %}
    $(".microphone").on("click", function () {
     /* if ($(".unmute").css("display") == "none") {
        $(".mute").hide();
        $(".unmute").show();
        console.log($(".mute").css("display"));
        console.log($(".ummute").css("display"));
        console.log("done .unmute");
      }
      if ($(".mute").css("display") == "none") {
        $(".unmute").hide();
        $(".mute").show();
        console.log($(".mute").css("display"));
        console.log($(".ummute").css("display"));
        console.log("done .mute");
      } */
      if($(".mute").is(":hidden")){
        $(".mute").show();
        $(".unmute").hide();
      }
      else{
        $(".unmute").show();
        $(".mute").hide();
      }
    });
</script>

{% comment %} Comments console.log({{ forloop.counter0 }}); - get counter of
forloop in djaongo Change URL in browser using AJAX

<a href="{% 'url' %}"></a>

/* $.ajax({ url: $(this).attr("id") + "/", success: function (result) {
console.log("done, result=%s", result); }, });*/ //console.log("recognize/" +
$(this).attr("id")); Change src attribute of img //console.log(src);
//console.log($('#chat:nth-child(3)').attr('src')); {% endcomment %}
