@font-face {
	font-family: Poppins-Regular;
	src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }

*{
	box-sizing:border-box;
	font-family: Poppins-Regular;
}
body{
	/* background-image: linear-gradient(rgba(0, 0, 0, 0.52)); */
	font-family:Arial;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

body::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
  }
  

#container{
	width:95vw;
	height:97vh;
	background:#eff3f7;
	margin:0 auto;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
}
aside{
	width:25%;
	height:100%;
	/* background-color:#3b3e49; */
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}
main{
	width:75%;
	height:100%;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

#people {
	height: 90%;
	overflow: hidden;
	background: linear-gradient(0deg, rgba(0,212,255,0.7) 30%, rgba(103,135,255,0.7) 63%, rgba(141,0,255,0.602784222737819) 100%);
}

aside header{
	padding:30px 20px;
	background: linear-gradient(0deg, rgba(141,0,255,1) 59%, rgba(171,0,255,1) 100%);
	padding-bottom: 33px;
}
aside input{
	width:100%;
	height:50px;
	line-height:50px;
	padding:0 50px 0 20px;
	background-color: rgba(0,212,255,0.4);
	border:none;
	border-radius:3px;
	color:#fff;
	background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
	background-repeat:no-repeat;
	background-position:350px;
	background-size:40px;
	font-family: Poppins-Regular;

}
aside input::placeholder{
	color:#fff;
}
aside ul{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:690px;
}
aside li{
	padding:10px 0;
}
aside li:hover{
	background-color:#00d4ff;
}
h2,h3{
	margin:0;
}
aside li img{
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
}
aside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
}
aside li h2{
	font-size:14px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}
aside li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}

.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
.green{
	background-color:#58b666;
}
.orange{
	background-color:#ff725d;
}
.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}

main header{
	height:12%;
	padding:30px 20px 30px 40px;
	border-bottom: 10px solid;
	border-image-slice: 1;
	border-width: 3px;
	border-image-source: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(73,89,168,0.7567401960784313) 58%, rgba(121,9,111,1) 86%);
}
main header > *{
	display:inline-block;
	vertical-align:top;
}
main header img:first-child{
	border-radius:50%;
}
main header img:last-child{
	width:24px;
	margin-top:8px;
	float: right;
	margin-right: 25px;
}
main header div{
	margin-left:10px;
	margin-right:145px;
}
main header h2{
	font-size:16px;
	margin-bottom:5px;
	margin-top:15px;
}
main header h3{
	font-size:14px;
	font-weight:normal;
	color:#7e818a;
}

main ul{
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-left:0;
	margin:0;
	list-style-type:none;
	/* overflow-y:scroll; */
	height:70%;
}


#chat li{
	padding:10px 30px;
}
#chat h2,#chat h3{
	display:inline-block;
	font-size:13px;
	font-weight:normal;
}
#chat h3{
	color:#bbb;
}
#chat .entete{
	margin-bottom:5px;
}
#chat .message{
	padding:20px;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
}
#chat .me{
	text-align:right;
}
#chat .you .message{
	background-color:#58b666;
}
#chat .me .message{
	background-color:#6fbced;
}
#chat .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
		border-color: transparent transparent #58b666 transparent;
		margin-left:15px;
}
#chat .me .triangle{
		border-color: transparent transparent #6fbced transparent;
		margin-left:375px;
}

main footer{
	height:18%;
	padding:20px 30px 10px 20px;
	border-top: 10px solid;
	border-image-slice: 1;
	border-width: 3px;
	border-image-source: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(73,89,168,0.7567401960784313) 58%, rgba(121,9,111,1) 86%);
}


main footer textarea{
	resize:none;
	border:none;
	display:block;
	width:100%;
	height:80px;
	border-radius:3px;
	padding:20px;
	font-size:13px;
	border: 10px solid;
	border-image-slice: 1;
	border-width: 3px;
	border-image-source: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(73,89,168,0.7567401960784313) 58%, rgba(121,9,111,1) 86%);
	margin-bottom:13px;
	font-family: Poppins-Regular;
	font-size: 20px;
}

textarea:focus {
	outline: none;
}

input:focus {
	outline: none;
}

main footer textarea::placeholder{
	color:rgba(0,212,255,1)
}
main footer img{
	height:30px;
	cursor:pointer;
}
main footer a{
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	color:#6fbced;
	vertical-align:top;
	margin-left:333px;
	margin-top:5px;
	display:inline-block;
	float: right;
	margin-right: 25px;
}